/* Write your custom CSS here */

#da-slider /*p span*/{
    color:#F00;
    font-size: 12px;
    font-weight:bold;
}

#centrado{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

/*.card, .card-panel {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 3px 1px -2px rgba(0, 0, 0, .08), 0 1px 5px 0 rgba(0, 0, 0, .08);
    position: relative;
    padding: 76em 3em 76em 3em;
    left: -3em;
}

@media (max-width: 768px){
	.card, .card-panel {
	    padding: 3rem;
	    left: 0;
	    
	}	
}*/